<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>colour:</strong>
  <%= @product.color %>
</p>



        <p> Average Rating: <div class="rated" id="average-rating" data-score= "<%=@product.average_rating %>"></div></p>

          <div class="col-md-6 col-lg-6 col-xs-12 product_div">
      <h4 class="product_title"> <span class="glyphicon glyphicon-pencil"></span> Comments </h4>
      <div id="comments">
        <div class="alert alert-info" style="display: none" role="alert">
        A new comment was posted!</div>
        <%= render 'new_comment' %>
        <%= render 'comments' %>
</div>


        



<%= link_to 'Edit', edit_product_path(@product) %> 
<%= link_to 'Back', products_path %>

